.page {
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: whitesmoke;
  cursor: pointer;
  border: 2px solid black;
}

.page:hover {
  background-color: white;
}

html {
  background-color: lightgrey;
}

@font-face {
  font-family: 'SweiFanSerifCJKtc-Regular';
  src: url(https://cdn.jsdelivr.net/gh/max32002/swei-fan-serif@1.1/WebFont/CJK%20TC/SweiFanSerifCJKtc-Regular.woff2) format("woff2"),
       url(https://cdn.jsdelivr.net/gh/max32002/swei-fan-serif@1.1/WebFont/CJK%20TC/SweiFanSerifCJKtc-Regular.woff) format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Apply the font site-wide */
html, body, #root, input, button {
  font-family: 'SweiFanSerifCJKtc-Regular', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

input {
  box-sizing: border-box;
}

#root {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.link {
  text-decoration: none;
  color: darkgray;
}

.link:hover {
  color: gray;
}